<main id="main" class="main">
    <div class="pagetitle">
        <h1>Notifications</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Notifications</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <nav class="header-nav ms-auto">
            <ul class="notifications">
                <% notifications.forEach(n => {%>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>New Subscription</h4>
                            <p><%=n.username%> subscribed to <%=n.service%></p>
                            <p><%=n.timestamp%></p>
                        </div>
                    </li>
                <%}); %>
            </ul>
        </nav>
    </section>
</main>