<main id="main" class="main">
    <div class="pagetitle">
        <h1>Notifications</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Notifications</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <nav class="header-nav ms-auto">
            <ul class="notifications">
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li class="notification-item">
                    <i class="bi bi-exclamation-circle text-warning"></i>
                    <div>
                        <h4>Loan Pending</h4>
                        <p>Quae dolorem earum veritatis oditseno</p>
                        <p>30 min. ago</p>
                    </div>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li class="notification-item">
                    <i class="bi bi-x-circle text-danger"></i>
                    <div>
                        <h4>Loan Rejected</h4>
                        <p>Quae dolorem earum veritatis oditseno</p>
                        <p>1 hr. ago</p>
                    </div>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li class="notification-item">
                    <i class="bi bi-check-circle text-success"></i>
                    <div>
                        <h4>Loan Granted</h4>
                        <p>Quae dolorem earum veritatis oditseno</p>
                        <p>2 hrs. ago</p>
                    </div>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li class="notification-item">
                    <i class="bi bi-info-circle text-primary"></i>
                    <div>
                        <h4>New Customer Registered</h4>
                        <p>Quae dolorem earum veritatis oditseno</p>
                        <p>4 hrs. ago</p>
                    </div>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li class="dropdown-footer">
                    <a href="#">Show all notifications</a>
                </li>
            </ul>
        </nav>
    </section>
</main>