<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="/auth/logout" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Logout</a>
        </div>
    </div>
</nav>
<!-- Navbar End -->