<!-- Page Content -->
<div id="aboutPage" class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
                <span>We have over 50 years of experience</span>
            </div>
        </div>
    </div>
</div>

<div class="more-info about-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span>our solid background on finance</span>
                                <h2>Get to know about <em>our company</em></h2>
                                <p>
                                    The company was founded by John Fairbairn as a mutual
                                    insurance company in 1845 under the name of The Mutual
                                    Life Assurance Society of the Cape of Good Hope.
                                    <br /><br />
                                    1970 Old Mutual acquired a major shareholding in the newly
                                    formed Mutual & Federal and in 1973 acquired shareholdings
                                    in Nedcor Bank.
                                </p>
                                <a href="" class="filled-button">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="assets/images/about-image.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our team <em>members</em></h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="assets/images/team_01.jpg" alt="" />
                    <div class="down-content">
                        <h4>Edith Jiya</h4>
                        <span>Co-Founder</span>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="assets/images/team_02.jpg" alt="" />
                    <div class="down-content">
                        <h4>Linda Poya</h4>
                        <span>Chief Marketing Officer</span>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="assets/images/team_03.jpg" alt="" />
                    <div class="down-content">
                        <h4>Sharon Mkandawire</h4>
                        <span>Financial Analyst</span>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <span>Focus on the growth factors</span>
                    <h2>Our solutions for your <em>business growth</em></h2>
                    <p>
                        If you want to build your start-up into a bigger, more
                        profitable business, then this reference guide is for you. We
                        will take you through the fundamentals of business growth, from
                        yourself as the leader of your business, right through to your
                        business model, employees, and customers. <br />
                        the right mindset and foundations in place, you will take your
                        business to the next level.
                    </p>
                    <a href="" class="filled-button">Read More</a>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">945</div>
                            <div class="count-title">Work Hours</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">1280</div>
                            <div class="count-title">Great Reviews</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">578</div>
                            <div class="count-title">Loans Given</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">26</div>
                            <div class="count-title">Awards Won</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>What they say <em>about us</em></h2>
                    <span>testimonials from our greatest clients</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-testimonials owl-carousel">
                    <div class="testimonial-item">
                        <div class="inner-content">
                            <h4>Sam Mtengo</h4>
                            <p>
                                <br />
                                "I am so impressed with your service, my mother is insured
                                with you and she was involved in a car accident, within 30
                                minutes the tow truck was there and her vehicle was towed to
                                a safe place."
                            </p>
                        </div>
                        <img src="http://placehold.it/60x60" alt="" />
                    </div>

                    <div class="testimonial-item">
                        <div class="inner-content">
                            <h4>John Munda</h4>
                            <p>
                                Am in ireland, been here for 2 weeks. I sold on my
                                properties at home and money was paid in while m in ireland.
                                The bank tried to confirm the transaction and couldn't get
                                hold me. The account was frozen, I enquired on twitter what
                                steps to take, and everything was sorted out within few
                                hours.
                            </p>
                        </div>
                        <img src="http://placehold.it/60x60" alt="" />
                    </div>

                    <div class="testimonial-item">
                        <div class="inner-content">
                            <h4>Andrew Boom</h4>
                            <span>Marketing Head</span>
                            <p>
                                "Curabitur sollicitudin, tortor at suscipit volutpat, nisi
                                arcu aliquet dui, vitae semper sem turpis quis libero.
                                Quisque vulputate lacinia nisl ac lobortis."
                            </p>
                        </div>
                        <img src="http://placehold.it/60x60" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>