<!-- Page Content -->
<div id="services" class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Services</h1>
                <span>We are over 50 years of experience</span>
            </div>
        </div>
    </div>
</div>

<div class="single-services">
    <div class="container">
        <div class="row" id="tabs">
            <div class="col-md-4">
                <ul>
                    <li><a href="#tabs-1">Savings<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#tabs-2">Investments<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#tabs-3">Loans <i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#tabs-4">Insurance<i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <section class="tabs-content">
                    <article id="tabs-1">
                        <img src="assets/images/single_service_01.jpg" alt="" />
                        <h4>Savings</h4>
                        <p>
                            An investment that puts you in control of your money. Invest
                            as much as you like, as often as you like, into funds that you
                            like. It's a great way to supplement your Tax Free Savings
                            Account so you can reach your life goals faster.
                        </p>
                    </article>
                    <article id="tabs-2">
                        <img src="assets/images/single_service_02.jpg" alt="" />
                        <h4>Investments</h4>
                        <p>
                            As a leading African investment manager, we offer a
                            comprehensive range of investment capabilities. Our focus is
                            on delivering sustainable long-term returns for our clients,
                            while being responsible stewards of the assets we manage.
                        </p>
                    </article>
                    <article id="tabs-3">
                        <img src="assets/images/single_service_03.jpg" alt="" />
                        <h4>Loans</h4>
                        <p>
                            If your loan application is successful, we will pay out the
                            loan within 24 hours, once approved and will notify you via
                            SMS.
                        </p>

                        <a href="#" class=" filled-button btn btn-lg my-5 btn-block"
                            style="margin-bottom: 0.5cm">Subscribe</a>
                    </article>
                    <article id="tabs-4">
                        <img src="assets/images/single_service_04.jpg" alt="" />
                        <h4>Insurance</h4>
                        <p>
                            Innovative life assurance based product solutions, addressing
                            both protection and savings needs, as well as short term
                            insurance solutions through Old Mutual Insure.
                        </p>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="callback-form callback-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Request a <em>call back</em></h2>
                    <span>Let us contact you instead</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="contact-form">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name"
                                        placeholder="Full Name" required="" />
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" class="form-control" id="email"
                                        pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="" />
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject"
                                        placeholder="Subject" required="" />
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message"
                                        placeholder="Your Message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="border-button">
                                        Send Message
                                    </button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partners"></div>