<!-- Page Content -->
<div id="services" class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Services</h1>
                <span>We are over 50 years of experience</span>
            </div>
        </div>
    </div>
</div>
<div class="services">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Financial <em>Services</em></h2>
                </div>
            </div>
            <% services.forEach(service=>{%>
                <div class="col-md-4 mb-4">
                    <div class="service-item">
                        <img src="<%=service.thumbnailPath%>" />
                        <div class="down-content">
                            <h4>
                                <%=service.name%>
                            </h4>
                            <p>
                                <%=service.description%>
                            </p>
                            <a href="/services/book/<%=service.id%>" class="btn btn-success col-md-12">Subscribe</a>
                        </div>
                    </div>
                </div>
                <%});%>
        </div>
    </div>
</div>