<!-- Page Content -->
<div id="faq" class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>FAQ's</h1>
                <span>Here are our most frequently asked questions</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <section class="main-content">
        <div class="container">
            <h1 class="text-center text-uppercase mb-5">
                Frequently Asked Questions
            </h1>
            <br />
            <br />
            <div class="row flex-center">
                <div class="col-sm-10 offset-sm-2">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="circle-icon">
                                        <i class="fa fa-question"></i>
                                    </div>
                                    <span>How much does it cost to invest?</span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong></strong>
                                    There are no initial administration fees for investment
                                    amounts of R500 (investment contract minimum) or more.
                                    Initial adviser fees may be negotiated with your adviser
                                    to a maximum of 3.45%.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <div class="circle-icon">
                                        <i class="fa fa-question"></i>
                                    </div>
                                    <span>What are the personal investment target products
                                        (ranges)?
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong></strong>
                                    Old Mutual Unit Trusts offers you seven personal
                                    investment target ranges, linked to a relevant unit trust,
                                    to help clients reach their dreams and aspirations. These
                                    are: INFLATION PLUS 0 - 1%, INFLATION PLUS 1 - 2%,
                                    INFLATION PLUS 2 - 3%, INFLATION PLUS 3 - 4%, INFLATION
                                    PLUS 4 - 5%, INFLATION PLUS 5 - 7% and MAXIMUM RETURN
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <div class="circle-icon">
                                        <i class="fa fa-question"></i>
                                    </div>
                                    <span>What are the risks to consider with a personal
                                        investment target?
                                    </span>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong></strong>
                                    The three risk aspects are: The risk you need to take –
                                    This means that for every possibility of a positive
                                    investment return, there is also the possibility of a
                                    negative investment return. The risk you can afford to
                                    take – This refers to the extent to which you can risk a
                                    negative investment return, given your financial
                                    situation. The risk you feel comfortable taking – Your
                                    personal tolerance to risk defined by the level of risk
                                    you are willing to take. We believe that the best
                                    investment target is one you understand and are
                                    comfortable with, taking the three aspects above into
                                    consideration.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <div class="circle-icon">
                                        <i class="fa fa-question"></i>
                                    </div>
                                    <span>What is foreign withholding tax? </span>
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour""
                  data-bs-parent=" #accordionExample">
                                <div class="accordion-body">
                                    <strong></strong>
                                    Should a foreign company declare a dividend, foreign
                                    withholding tax could be incurred on the dividend. If such a
                                    foreign tax is incurred and it is not claimable from the
                                    foreign tax authority, this foreign tax will be allowed as a
                                    rebate (deduction) against any local DWT due to the South
                                    African Revenue Service (SARS).
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <div class="circle-icon">
                                        <i class="fa fa-question"></i>
                                    </div>
                                    <span>Will I be taxed more than once? </span>
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong></strong>
                                    The general principle is that you shouldn’t be. Although
                                    local dividend is income, it is subject to dividend tax and
                                    not income tax.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>